:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --gray-block-color: #2f303a;
  --team-block-color: #f5f4fa;
  --transperent-white: rgba(255, 255, 255, 0.6);
  --shadow-1: rgba(0, 0, 0, 0.12);
  --shadow-2: rgba(0, 0, 0, 0.14);
  --shadow-3: rgba(0, 0, 0, 0.2);
}

/* СПРЯТАННЫЕ ЭЛЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ХЕДЕР */

.header-positioner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px 0;
}

/* ЛОГО */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-right: 93px;
}

.logo .prefix-logo {
  color: var(--accent-color);
}

/* НАВИГАЦИЯ */

.navigation {
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}

.navigation-list .navigation-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 32px 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .active {
  color: var(--accent-color);
  position: relative;
}

.active::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1.5px;
  left: 0;
}

/* КОНТАКТЫ */

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: auto;
}

/* .content-item {
} */

.contacts-list .contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-item {
}

.contacts-icon-item-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon-item-mail,
.contacts-link:focus .contacts-icon-item-mail {
  fill: var(--accent-color);
}

.contacts-icon-item-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon-item-phone,
.contacts-link:focus .contacts-icon-item-phone {
  fill: var(--accent-color);
}

.contacts-link {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* ГЛАВНАЯ!!!!!!!!!!!!!!!!!!!!!!! */

/* СЕКЦИЯ ГЕРОЙ */
.section-hero {
  background-color: #c4c4c4;
  padding-top: 94px;
  padding-bottom: 94px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-imag.jpg);
  background-size: cover;
}

.hero {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ЗАГОЛОВОК */
.section-hero .hero-title {
  margin: 0 auto 30px;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.section-hero .hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;

  min-width: 200px;
}

/* СЕКЦИЯ ПРЕИМУЩЕСТВА */

.benefits-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-icon-box {
  background-color: var(--team-block-color);
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-icon-item {
  width: 70px;
  height: 70px;
}

.benefits-list .benefits-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
  max-width: 270px;
}

.benefits-list .benefits-description {
  line-height: 1.71;

  max-width: 270px;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.picture-block {
  padding-top: 47px;
  padding-bottom: 94px;
}

.picture-block .picture-block-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.picture-block-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-block-wrap {
  position: relative;
}

.picture-block-item {
}

.picture-block-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

/* НАША КОМАНДА */
.team-box {
  background-color: var(--team-block-color);
  padding: 94px 0;
}

.team .team-section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: var(--main-color);
  box-shadow: 0 1px 3px var(--shadow-1), 0 1px 1px var(--shadow-2),
    0 2px 1px var(--shadow-3);
}

.team-img {
  /* margin-bottom: 30px; */
}

.team-description-block {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.team .team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}

.team-description {
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-social-list-item {
}

.team-social-list-link {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: var(--accent-color);
}

.team-social-list-icone {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-link:hover .team-social-list-icone,
.team-social-list-link:focus .team-social-list-icone {
  fill: var(--main-color);
}

/* ПОТРФОЛИО!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* КНОПКИ */
.section-works {
  padding: 94px 0;
}

.section-works .filter {
  margin-bottom: 50px;
}

.filter .filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.filter .button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: var(--team-block-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .active-filterr {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* НАШИ РАБОТЫ */

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-item {
  /* display: block; */
  /* position: relative; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item:hover .works-top-text {
  transform: translateY(0);
}

.works-top-wrap {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item:hover,
.works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-img {
  display: block;
  background-color: #ffffff;
}

.works-box {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.works .works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.works .works-description {
  /* display: inline-block; */
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

/* Постійні клієнти */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
}

.clients-link {
  display: flex;
  overflow: hidden;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* ФУТЕР */

/* LOGO WHITE*/
.footer .logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.postfix {
  color: var(--main-color);
}

/* потом убрать */
footer {
  background-color: var(--gray-block-color);
}

.footer {
  padding: 60px 0;
  display: flex;
  align-items: baseline;
}

.address {
  display: flex;
  align-items: flex-start;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address .address-street {
  line-height: 1.71;
  color: var(--main-color);
  font-style: normal;
}

.address .address-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .address-link:hover,
.address-list .address-link:focus {
  color: var(--accent-color);
}

/* СОЦ СЕТИ */

.invite-box {
  margin-left: 70px;
}

.invite {
  display: flex;
  flex-direction: column;
}

.invite-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.invite-list {
  display: flex;
  gap: 10px;
}

.invite-link {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-link:hover,
.invite-link:focus {
  background-color: var(--accent-color);
}

.invite-icone {
  fill: var(--main-color);
  width: 20px;
  height: 20px;
}

/* ФУТЕР ФОРМА ОТПРАВКИ ИМЕЙЛА ДЛЯ ПОДПИСКИ!!!!!!!!!! */

.field-footer {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.field-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.field-footer-wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

.field-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 16px;
}

.footer-button-submit {
  border-radius: 4px;
  padding: 10px 28px;
  display: inline-block;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;

  min-width: 200px;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-send {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 39px 40px 41px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.close-icone {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icone:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

/* ФОРМА */

.modal-form {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-field {
  width: 100%;
  position: relative;
}

.modal-field-check-box {
  text-align: center;
}

.modal-lable {
  display: block;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.15;
  color: #00000026;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.online-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.online-comment:focus {
  border-color: var(--accent-color);
}

.check-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.icon-border {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  /* fill: var(--main-color); */
  color: transparent;
  position: relative;
  bottom: -2px;
}

.check-icon {
  fill: currentColor;
}

.modal-check:checked + .check-text .icon-border {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--main-color);
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.submit-button {
  border-radius: 4px;
  padding: 10px 52px;
  display: inline-block;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;

  min-width: 200px;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.privacy-box {
  display: block;
  margin-left: 4px;
  padding-left: 2px;
}

.privacy {
  color: var(--accent-color);
  position: relative;
}

.privacy::after {
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 1px;
  left: 0;
}

/* 1 способ !!!!!!!!!!!!!!!!!!!!!*/

/* .check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  
}

.privacy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;

} */

/* кольорова валідація інпутов!!!!!!!!! */

/* .modal-input::placeholder {
  display: block;
  font-size: 16px;
  line-height: 1.15;
  color: #555555;
} */

/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: #2195f33c;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: #f321213c;
} */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
